<form method="post" action="/words/create">
    <section>
        <div class="ui stackable one column grid">
            <div class="center aligned column">
                &nbsp;
            </div>
            <div class="center aligned column" style="position:relative;top:2em;">
                <h1>Type an <strong>awesome</strong> word!</h1>
            </div>
            <div class="center aligned column">
                <div class="ui fluid massive input" style="margin:1em">
                    <input id="phrase" name="phrase" type="text">
                    <button style="position:absolute;top:-7px;right:-11px;" class="button button-3d button-primary button-circle button-jumbo"><i class="fa fa-thumbs-up"></i></button>
                </div>
            </div>
        </div>
    </section>
</form>

<section>
    <div class="ui stackable one column grid">
        <div class="center aligned column">
            <div style="max-width: 200px;margin:0 auto;text-align:justify;">
                <center>
                    <img src="/images/add.png" style="width:36px;margin:0 auto;">
                    <img src="/images/share.png" style="width:36px;margin:0 auto;">
                    <img src="/images/play.png" style="width:36px;margin:0 auto;">
                </center>
                <br>
                You are learning new vocabulary everyday so start by adding those words to your list and share with your WordBuddies! <br>
                Challenge them with pop quizes and learn together using BuddyEffect TM
            </div>
        </div>
    </div>
</section>