.info-box {
    background: #58a0b3;
    min-height: 100px;
    text-align: center;
    border: 1px solid;
}

nav.button-group .button-small {
    padding: 0 15px;
    margin-top: 5px;
}

header {
    margin: 10px;
}

footer {
    margin-top: 3em;
    padding: 0.9em 0 0.9em 0;
    border-top: 2px #ddd dashed;
    color: #e83d1e;
    text-align: center;
}

/* Typography */
span.tiny {font-size: 0.9em;}

body.grid section.wb_create_word_section  {
    margin-top: 2em;
    margin-bottom: 2em;
}

body.grid section.wb_create_word_section input {
    margin-top: 1em;
}

body.grid section.wb_create_word_section button {
    position: relative;
    top: 0.6em;
    left: -3.1em;
}

/*body.grid section.wb_create_word_section label {*/
    /*font-size: 1.5rem;*/
    /*position: relative;*/
    /*top: 2em;*/
/*}*/
